@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sarabun", "Noto Sans Thai", "Prompt", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
